.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.secondContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.table{
    /* margin: 25% auto; */
    margin-top: 5%;
    margin-bottom: 12px;
    width: 70%;
    background-color: var(--tableR);
}

th{
    background-color: var(--tableR); 
    padding: 5px;
}

 tr:nth-child(odd) {
    background-color: var(--table); 
}


tr:nth-child(even) {
    background-color: var(--tableR); 
}

.editBtn {
    height: 25px;
    width: 60px;
    font-size: medium;
    border-radius: 6px;
    box-shadow: none;
    background-color: var(--white);
}

.editBtn:hover {
    background-color: var(--darkForm);
}


.addNew {
    font-size: medium;
    background-color: var(--white);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* .addNew:hover {
    background-color: var(--tableR2);
} */