.adminDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.toggle {
    margin-bottom: 10px;
    font-size: medium;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
}


.adminForm {
    width: 370px;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background);
    background-color: var(--form);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.adminForm >label {
    font-size: large;
    width: 215px;
}

.adminForm >textarea{
    height: 65px;
}

.select {
    width: 130px;
    border: none;
    height: 25px;
    border-radius: 4px;
}