/* .searchForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}


form > label{
    display: flex;

    align-items: center;
} */


.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.searchForm {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2em;
  border-radius: 10px;
  background-color: var(--form);
  color: var(--text1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}


.adminDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}




form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
}


.adminForm{
    width: 370px;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text1);
    background-color: var(--form);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

input {
    border-radius: 5px;
    box-shadow: 0;
}

.plantCard{
    display: flex;
    flex-direction: column;
    background-color: var(--oliveGreen);
    margin: 3px;
    width: 50%;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.plantList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

