.plantCard{
    display: flex;
    flex-direction: column;
    background-color: var(--tableR);
    margin: 3px;
    width: 50%;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.plantCard > h3 {
    font-size: x-large;
}

.plantCard >button {
    width: 100px;
    margin-left: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-size: x-small;
    font-weight: 800;
}


.plantList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.plantImg{
    width: 40%;
    border: 2px solid var(--table);

    
}