.plantCard{
    display: flex;
    flex-direction: column;
    background-color: var(--table);
    margin: 3px;
    width: 30%;
    border-radius: 50px;
}

.plantCard >h1 {
    font-size: xx-large;
}

.plantCard >button {
    width: 100px;
    margin-left: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-size: x-small;
    font-weight: 800;
}


.plantList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.plantImg{
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.infoArea{
    padding: 10px;
}