.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.searchForm {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2em;
  border-radius: 10px;
  background-color: var(--form);
  color: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}


.searchForm > label{
  font-size: larger;
}




.input {
  border: none;
  padding: 10px 15px;
  height: 30px;
  width: 100%;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 24px;

}

.submit {
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  height: 30px;
  font-size: 16px;
  text-align: center;

}


.clearBtn {
  width: 170px;
  font-size: medium;
}