.header{
    height: 100px;
    background-color: var(--oliveGreen);
    font-size: 80px;
}

.InfoContainer{
    display: flex;
    flex-direction: column;
    padding: 2em 7em;
}

p{
    text-align: left;
}


img{
    width: 92%;
}